fastapi==0.115.6
uvicorn==0.32.1
sqlalchemy==2.0.36
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
pydantic==2.9.2
python-dotenv==1.2.2
psycopg2-binary==2.9.9
python-escpos==3.1
pyusb==1.3.1
pillow==12.1.1
qrcode==8.2
psycopg2==2.9.11
